# SPDX-License-Identifier: ISC

# Ignore everything
*

# Include specific files
!.dockerignore
!.editorconfig
!.gitignore
!.prettierrc.yml
!configuration.nix
!Dockerfile
!flake.lock
!flake.nix
!LICENSE
!README.md
!Vagrantfile

# Include specific files from directories
!.vscode/
!.vscode/extensions.json
!.vscode/settings.json

!hardware/
!hardware/common.nix
!hardware/desktop-generic-amd.nix
#!hardware/laptop-framework-intel.nix
!hardware/qemu-libvirt-x86_64.nix

!machine/
!machine/common.nix
!machine/server.nix
!machine/vagrant.nix
!machine/workstation.nix

#!package/
