# SPDX-License-Identifier: ISC

# Ignore everything
*

# Include specific files
!.editorconfig
!.gitignore
!.prettierrc.yml
!configuration.nix
!flake.lock
!flake.nix
!LICENSE
!README.md
!Vagrantfile

# Include specific files from directories
!.vscode/
!.vscode/extensions.json
!.vscode/settings.json

!hardware/
#!hardware/desktop.nix
#!hardware/laptop.nix
!hardware/qemu-libvirt-x86_64.nix

!machine/
!machine/common.nix
!machine/server.nix
!machine/vagrant.nix
!machine/workstation.nix
