# SPDX-License-Identifier: ISC

# Ignore everything
*

# Include specific files
!.editorconfig
!.gitignore
!.prettierrc.yml
!configuration.nix
!flake.lock
!flake.nix
!LICENSE
!README.md

# Include specific files from directories
!.vscode/
!.vscode/extensions.json
!.vscode/settings.json
